<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}{% endblock %} - changedmy.name</title>
	<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection" />
	<![endif]-->
	<link rel="stylesheet" href="/media/css/style.css" />
</head>
<body>
	<div id="wrapper-1">
	<div id="wrapper-2">
	<div class="container">
	<div id="header" class="span-24 last">
		<div>
		{% block header %}
			<div id="nav">
				<a href="#">Home</a>
				<a href="#">Articles</a>
				<a href="#">Thoughts</a>
				<a href="#">Contact</a>
			</div>
			<div id="sub-nav">
				<a href="#">Foo</a>
				<a href="#">Bar</a>
				<a href="#">Lorem ipsum dolor</a>
				<a href="#">Bazbaz</a>
			</div>
		{% endblock %}
		</div>
	</div>
	<div id="content" class="span-18">
		<div>
		{% block content %}
		
		{% endblock %}
		</div>
	</div>
	<div id="sidebar" class="span-6 last">
		<div>
		{% block sidebar %}
		recent updates
		{% endblock %}
		</div>
	</div>
	<div id="footer" class="span-24 last">
		<div>
		{% block footer %}
			copyright and all that jazz
		{% endblock %}
		</div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>
