{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block content %}
<p>
	This site is the site of James Pearson, known as Xiong Chiamiov all across
	the internet. While I've mostly finished the back-end of the site, the
	front-end is... not changed much from the skeletal template I got. There are
	plans, it's just a matter of actually putting them in action. That, and
	bugging my good friend to create some graphics.
</p>
<p>
	For now, there is a (mostly) functional menu at the top, with sub-sections
	put into the section on the right over there when need be.
</p>
{% endblock %}
